* {
    font-family: Tahoma;
}

header, footer {
    background-color: maroon;
    color: white;
    padding: 10px;
}

#blok_lewy, #blok_prawy {
    float: left;
    width: 50%;
    height: 500px;
}

#blok_lewy {
    background-color:  lightsalmon;
}

#blok_prawy {
    background-color: darksalmon;
}

footer {
    display: flex;
    align-items: center;
}

h1, h2, h3 {
    text-align: center;
}

table, td, tr, th {
    border:  1px solid maroon;
}

table {
    width: 85%;
    border-collapse: collapse;
}

#teble_center {
    width: 100%;
    display: flex;
    justify-content: center;
}

ol {
    list-style-type: none;
}

button {
    background-color: maroon;
    color: white;
    margin-left: 20px;
    padding: 10px;
    border: none;
    border-radius: 20px;
}

button:hover {
    background-color: white;
    color: maroon;
}